body {
    background-color: rgb(29, 173, 241);
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#content {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 60px;
    font-family: 'Helvetica Neue';
    text-align: center;
}