body {
    background-color: rgb(29, 173, 241);
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#content {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 3em;
    font-family: 'Helvetica Neue';
    text-align: center;
}

#banner, #bannerTwo{
    background-color: black;
    width: 760px;
    height: 100px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#shareBanner {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
}

#bannerText, #bannerTextTwo{
    font-family: 'Helvetica Neue';
    height: 100%;
    color: white;
    text-align: center;
    /*vertical-align: middle;*/
    display: inline-block;
}

#smallLogo, #smallLogoTwo{
    margin-left: 50px;
}

#tickButton {
    display: inline-block;
    margin-top: 65px;
    margin-left: 55px;
}
